@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Libertine;
    src: url("assets/LinLibertine_R.ttf");
}

body {
    background-color: #eee;
}

.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-image: url("assets/world.jpg");
    background-size: 40px;
    z-index: -1;
    filter: blur(2px);
}

.action-button {
    @apply border border-black rounded px-6 py-1 font-bold text-lg bg-gray-200 hover:bg-gray-300 active:bg-gray-400 transition;
}

/* .popover {
    @apply
} */